.media--fullwidth {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul.cats-list li::before {
    content: url('../../icones/animal-cat-24-regular.svg');
    margin-right: 5px;
}

ul.dogs-list li::before {
    content: url('../../icones/animal-dog-16-regular.svg');
    margin-right: 5px;
}

ul.nav-list li::before {
    content: url('../../icones/book.svg');
    margin-right: 5px;
}

